{% extends "futurus/base.html" %}
{% block content %}
<div class="middle">
<div class="card auto">
{{texts.about}}
<ul>
    <li>Supporting organizations that need the help the most.</li>
    <li>Providing a platform for transparent funding.</li>
    <li>Giving potential donors the information they need to donate confidently</li>
    <li>Provide easy steps for verifying an organization's international partners.</li>
    <li>Give organizations the steps they need to elevate their voice.</li>
    <li>Provide training to organizations on accountability measures and provide incentives to follow through.</li>
</ul>
</div><!-- end card -->
</div><!-- end .middle -->
{% endblock %}
