{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Futurus Crowdfunding Website</title>
<!--<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" />-->
<link rel = "icon" type = "image/ico" href="logo.ico"/>
<link rel="stylesheet" type="text/css" href="{% static 'futurus/custom.css' %}" />
</head>
<body>
{% include "futurus/header.html" %}
<noscript>
<input type="radio" id="base-noscript-warning">
<div>
Warning! JavaScript is not enabled.
</div>
</noscript>
{% block content %}
{% endblock %}
{% include "futurus/footer.html" %}
</body>
</html>
