{% extends "futurus/base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/search.js' %}"></script>
<div class="browse browse_people">
<h1>Browse People</h1></br>
</br>
<h5 style="font-weight: bold; color: rgb(80,80,80)">Everyone</h5>
{% for person in people %}
<div class="card image blue" style="background({{person.pic.url}})">
    <a href="{% url 'person' person.slug %}">
    <img src="{{person.pic.url}}">
    </a>
</div>
{% endfor %}

<h5>Donors</h5>
{% for person in donors %}
<div class="card image blue" style="background({{person.pic.url}})">
    <a href="{% url 'person' person.slug %}">
    <img src="{{person.pic.url}}">
    </a>
</div>
{% endfor %}

<h5>New Users</h5>
{% for person in newUsers %}
<div class="card image blue" style="background({{person.pic.url}})">
    <a href="{% url 'person' person.slug %}">
    <img src="{{person.pic.url}}">
    </a>
</div>
{% endfor %}

<h5>Active Users</h5>
{% for person in newUsers %}
<div class="card image blue" style="background({{person.pic.url}})">
    <a href="{% url 'person' person.slug %}">
    <img src="{{person.pic.url}}">
    </a>
</div>
{% endfor %}
</div><!-- end .middle -->
{% endblock %}
