{% extends "futurus/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="middle">
<h1>Create your Organization Here!</h1><br/>
{% include 'futurus/errors.html' %}
<form id="person_form" method="post" enctype="multipart/form-data" role="form">
{% csrf_token %}
<div id="form-group-name" class="form-group">
    <label for="id_name">Organization Name</label>
    <input id="id_name" type="text" name="name" maxlength="100" class="form-control" placeholder="Enter your organization's name here" required="required" value="{{form.name.value}}">
</div>



<!-- The Org's Website -->
</br></br>
<div id="form-group-website" class="form-group">
    <label for="id_website">Organization's Website</label>
    <p class="help-block">If you don't have your own website yet, leave this blank.</p>
    <input type="url" class="form-control" id="id_website" name="website" placeholder="Enter the url to your organization's Website" value="{{form.website.value}}">
</div>


<!-- Abbreviation: could use js to autofill -->
</br></br>
<div id="form-group-abbreviation" class="form-group">
    <label for="id_abbreviation">Organization Abbreviation</label>
    <input id="id_abbreviation" type="text" name="abbreviation" maxlength="100" class="form-control" placeholder="Enter your organization's abbreviation here" value="{{form.value.abbreviation}}">
</div>


<!-- Members -->
</br></br>
<div id="form-group-members" class="form-group">
    <label for="id_members">Members</label>
    <p class="help-block">Select who on this website is a member of your group/organization.</p>
    <div id="members-scrollbox" class="form-control">
    <div class="member-row"><input type="checkbox" name="members" value="{{person.user.id}}" checked="checked"><span style="vertical-align: middle; padding-bottom: 7px;"><b>{{person.name}}</b></span></div>
    </hr>
    {% for person in people %}
    {% if person.name and person.user.email and self.person != person %} 
    <div class="member-row"><input type="checkbox" name="members" value="{{person.user.id}}"><span style="vertical-align: middle; padding-bottom: 7px;">{{person.name}} (<a href="{% url 'person' person.slug %}">view profile</a>)</span></div>
    {% endif %}
    {% endfor %}
    </div>
</div>


<!-- owners, say "website administrators" -->
<!-- maybe instead of select just have a bunch of checkboxes and scrollable div container.. but that's probably not sustainable-->
</br></br>
<div id="form-group-owners" class="form-group">
    <label for="id_owners">Website Administrators</label>
    <p class="help-block">The website administrators are the ones that will have the ability to change your organization's information on this website.</p>
    <div id="owners-scrollbox" class="form-control">
    <div class="owner-row"><input type="checkbox" name="owners" value="{{person.user.id}}" checked="checked"><span style="vertical-align: middle; padding-bottom: 7px;"><b>{{person.name}}</b></span></div>
    </hr>
    {% for person in people %}
    {% if person.name and person.user.email and self.person != person %} 
    <div class="owner-row"><input type="checkbox" name="owners" value="{{person.user.id}}"><span style="vertical-align: middle; padding-bottom: 7px;">{{person.name}} (<a href="{% url 'person' person.slug %}">view profile</a>)</span></div>
    {% endif %}
    {% endfor %}
    </div>
</div>


</br></br>
<div id="form-group-mission" class="form-group">
    <label for="id_mission">Mission</label>
    <p class="help-block">{{texts.mission}}</p>
    <textarea type="url" class="form-control" id="id_mission" name="mission" placeholder="Enter your organization's mission statement">{{form.mission.value}}</textarea>
</div>


</br></br>
<div id="form-group-logo" class="form-group">
    <label for="id_logo_">Logo</label>
    <input id="id_logo" type="file" name="logo">
</div>

</br></br>

<div id="form-group-organization_created" class="form-group">
    <label for="id_organization_created">Founding Date</label>
    <p class="help-block">{{texts.founding_date}}</p>
    <input id="id_organization_created" type="text" name="organization_created" class="form-control" value="{{form.organization_created.value}}">
</div>


<!-- members, select your members -->

<div id="form-group-facebook" class="form-group">
    <label for="id_facebook">Facebook</label>
    <input type="url" class="form-control" id="id_facebook" name="facebook" placeholder="Enter the url to your organization's Facebook" value="{{form.facebook.value}}">
</div>

<div id="form-group-twitter" class="form-group">
  <label for="id_twitter">Twitter</label>
  <div class="input-group">
    <div class="input-group-addon">@</div>
    <input type="text" class="form-control" name="twitter" id="twitter" placeholder="Enter twitter handle of the organization" value="{{form.twitter.value}}">
  </div>
</div>

</br></br>
<div id="form-group-linkedin" class="form-group">
    <label for="id_linkedin">LinkedIn</label>
    <p class="help-block">{{texts.linkedin}}</p>
    <input type="url" class="form-control" id="id_linkedin" name="linkedin" placeholder="Enter the url to your organization's LinkedIn" value="{{form.linkedin.value}}">
</div>


<!-- I also def need to add in a field for accomplishments and explain what that means in the West.  Basically, explain how donors look for tangible measurable accomplishments with numbers versus stuff just saying 'first organization that bla bla bla' or most popular org or org that stands up for a group -->

</br></br>
<div id="form-group-wiki" class="form-group">
    <label for="id_wiki">Wiki</label>
    <p class="help-block">{{texts.wiki}}</p>
    <input type="url" class="form-control" id="id_wiki" name="wiki" placeholder="Enter the url to the Wiki page" value="{{form.wiki.value}}">
</div>



</br></br>
<div id="form-group-links" class="form-group">
    <label for="id_links">Links</label>
    <p class="help-block">{{texts.links}}</p>
    <div class="input-group input-group-link">
        <input type="url" class="form-control" id="id_links" name="links" placeholder="Enter the url here" value="">
        <div class="input-group-addon btn-danger">Delete Link</div>
    </div>
    <div class="btn btn-primary" id="add-link">Add Link</div>
</div>

<script>
    var addLinkBtn = document.getElementById("add-link");
    addLinkBtn.addEventListener("click", function(){
        console.log("adding link");
        var links = document.getElementsByClassName("input-group-link");
        var new_element = document.createElement("INPUT");

        document.getElementById("form-group-links").insertBefore(new_element, addLinkBtn);

        new_element.outerHTML = '<div class="input-group input-group-link"><input type="url" class="form-control" id="id_links" name="links" placeholder="Enter the url here" value=""><div class="input-group-addon btn-danger">Delete Link</div></div>';

        //new_element.getElementsByTagName("input")[0].focus();
        addEventListenersToDeleteButtons();
    });

    function addEventListenersToDeleteButtons()
    {
        var deleteButtons = document.querySelectorAll(".input-group-link .input-group-addon");

        for (var i = 0; i < deleteButtons.length; i++)
        {
            var deleteButton = deleteButtons[i];
            deleteButton.removeEventListener();
            deleteButton.addEventListener("click", function(){
                console.log("You clicked the delete button");
                inputGroup = deleteButton.parentElement;
                inputGroup.parentElement.removeChild(inputGroup);
            });
        }
    }
    addEventListenersToDeleteButtons();

</script>



<!-- Provide a button to click to submit the form. -->
</br></br>
<input type="submit" name="submit" value="Submit" class="btn btn-success"/>
</form>
</div> <!-- end .middle -->
{% endblock %}
