{% extends "futurus/base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/search.js' %}"></script>
<div class="middle">
<h1>Find Organizations</h1></br>
<label for="search">Search</label>
<input type="text" class="form-control" id="search" placeholder="What do you want to search for?">
</br>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Logo</th>
            <th>Notable Members</th>
            <th>Projects</th>
        </tr>
    </thead>
    <tbody>
        {% for organization in organizations %}
        <tr>
            <td><a class="btn btn-primary btn-xs btn-margin-xs" href="{% if organization.slug %}{% url 'organization' organization.slug %}{% endif %}">{{ organization.name }}</a></td>
            <td>{% if organization.logo %}<img src="{{ organization.logo.url }}" class = "img-responsive" style="max-height: 50px;">{% endif %}</td>
            <td>{% for person in organization.members.all %}<a class="btn btn-primary btn-xs btn-margin-xs" href="{% if person.slug %}{% url 'person' person.slug %}{% endif %}" role="button">{{ person }}</a>{% endfor %}</td>
            <td>{% for project in organization.projects.all %}<a class="btn btn-primary btn-xs btn-margin-xs" href={% url 'project' project.slug %} role="button">{{ project.title }}</a>{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}sdf asdf asdf sadf sadf asdf asdf fasdf af safd
