<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ zone }} Crowdfunding Platform</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
    	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <span class="caret"></span></a>
    	            <ul class="dropdown-menu" role="menu">
                	    <li><a href="#">Organizations</a></li>
  	                    <li><a href="#">Projects</a></li>
                        <li><a href="#">People</a></li>
                    </ul>
                </li>
                <li class="dropdown">
    	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find <span class="caret"></span></a>
    	            <ul class="dropdown-menu" role="menu">
                	    <li><a href="#">Organizations</a></li>
  	                    <li><a href="#">Projects</a></li>
                        <li><a href="#">People</a></li>
                    </ul>
                </li>
				<li><a href="#about">Join</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
