{% extends "futurus/base.html" %}
{% block content %}
<div class="middle">
{% include 'futurus/language.html' %}


{% if language == "en" or language == None %}
<div class="jumbotron">
    <h1>Hello{% if user.is_authenticated%}, {% if user.person.name %}{{user.person.name}}{% else %}User{% endif %}{% endif %}!</h1>
    <p>{{texts.welcome}}</p>

</div><!-- end jumbotron"-->

{% if user.is_authenticated %}
<div class="card blue">
<h3>Tasks</h3>
<h4>Keep up the good work!</h4>
<h5>You have completed <b>{{numberOfCompleteTasks}}</b> task{% if numberOfCompleteTasks == 0 or numberOfCompleteTasks > 1 %}s{% endif %}.</h5>
<h5>You currently have <b>{{numberOfIncompleteTasks}}</b> pending task{% if numberOfIncompleteTasks == 0 or numberOfIncompleteTasks > 1 %}s{% endif %}.</h5>
<div class="bottomline"><a href={% url 'tasks' %} class="button">View Tasks</a></div>
</div>

{% else %}
<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-sm btn-primary btn-fb" id="index-button-facebook">Sign in with Facebook</a>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-sm btn-primary btn-go" id="index-button-google">Sign in with Google</a>
<a href="{% url 'social:begin' 'twitter' %}" class="btn btn-sm btn-primary btn-go" id="index-button-google">Sign in with Twitter</a>
<a href={% url 'register' %}><button class="btn btn-primary btn-sm">Sign up with e-mail</button></a>
{% endif %}

<div class="card yellow">
<h3>Website Numbers</h3>
<ul>
<li>Number of Users: {{numberOfUsers}}</li>
<li>Number of Organizations: {{numberOfOrganizations}}</li>
<li>Number of Donations: {{numberOfDonations}}</li>
</ul>
</div>



{% elif language == "ar" %}
<div class="jumbotron">
  <h1>&#1605;&#1585;&#1581;&#1576;&#1575;{% if user.is_authenticated%}, {% if user.person.name %}{{user.person.name}}{% else %}User{% endif %}{% endif %}!</h1>
  <p>Welcome to {{zone}} Crowdfunder, a platform for transparent verifiable support to organizations trying to make a difference in conflict areas.</p>

</div><!-- end jumbotron"-->

{% if user.is_authenticated %}
<div class="card blue">
<h3>Tasks</h3>
<h4>Keep up the good work!</h4>
<h5>You have completed <b>{{numberOfCompleteTasks}}</b> task{% if numberOfCompleteTasks == 0 or numberOfCompleteTasks > 1 %}s{% endif %}.</h5>
<h5>You currently have <b>{{numberOfIncompleteTasks}}</b> pending task{% if numberOfIncompleteTasks == 0 or numberOfIncompleteTasks > 1 %}s{% endif %}.</h5>
<div class="bottomline"><a href={% url 'tasks' %} class="button">View Tasks</a></div>
</div>

{% else %}
<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-sm btn-primary btn-fb" id="index-button-facebook">Sign in with Facebook</a>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-sm btn-primary btn-go" id="index-button-google">Sign in with Google</a>
<a href="{% url 'social:begin' 'twitter' %}" class="btn btn-sm btn-primary btn-go" id="index-button-google">Sign in with Twitter</a>
<a href={% url 'register' %}><button class="btn btn-primary btn-sm">Sign up with e-mail</button></a>
{% endif %}

<div class="card yellow">
<h3>Website Numbers</h3>
<ul>
<li>Number of Users: {{numberOfUsers}}</li>
<li>Number of Organizations: {{numberOfOrganizations}}</li>
<li>Number of Donations: {{numberOfDonations}}</li>
</ul>
</div>





{% endif %}

</div><!-- end .middle -->
{% endblock %}
