{% extends "futurus/base.html" %}
{% block content %}
<div>
  <h1>Hello{% if user.is_authenticated %}, {{ user.username }}{% endif %}!</h1>
  <p>The name Armenia enters English via Latin, from Ancient Greek Ἀρμενία. The Armenian endonym for the Armenian people and country is hayer and hayk’, respectively. The exact etymology of the name is unknown, and there are various speculative attempts to connect it to older toponyms or ethnonyms.

Contents

    1 Etymology
    2 Further speculations
        2.1 From Armanî, Armânum, Ermenen, Urmenu or Minni
        2.2 From Hayasa-Azzi (native Armenian name Hayastan)
        2.3 Criticism(s)
    3 Armenian historiographic tradition
    4 Modern names
    5 References
    6 External links

Etymology

The earliest attestations of the exonym Armenia date around the 6th century BC. In his trilingual Behistun Inscription, Darius I the Great of Persia refers to Urashtu (in Babylonian) as Armina (in Old Persian) and Harminuya (in Elamite). In Greek, Αρμένιοι "Armenians" is attested from about the same time, perhaps the earliest reference being a fragment attributed to Hecataeus of Miletus (476 BC).[1] Herodotus, in c.440 BC, said "the Armenians were equipped like Phrygians, being Phrygian colonists" (7.73) (Ἀρμένιοι δὲ κατά περ Φρύγες ἐσεσάχατο, ἐόντες Φρυγῶν ἄποικοι.). Xenophon describes many aspects of Armenian village life and hospitality. He relates that the people spoke a language that to his ear sounded like the language of the Persians.[2]
Further speculations

Although disputed and unproven, some speculations on the exact origin of the Armenia exonym have been proposed.
From Armanî, Armânum, Ermenen, Urmenu or Minni

It has been suggested by early 20th century Armenologists that Old Persian Armina and the Greek Armenoi are continuations of an Assyrian toponym Armânum or Armanî.[3] There are certain Bronze Age records identified with the toponym in both Mesopotamian and Egyptian sources. The earliest is from an inscription which mentions Armânum together with Ibla (Ebla) as territories conquered by Naram-Sin of Akkad in ca. 2250 BC[4] identified with an Akkadian colony in the Diarbekr region.[5] However, many historians, such as Wayne Horowitz, identify Armanî which was conquered by Naram-Sin of Akkad, with the Syrian city of Aleppo and not with the Armenian Highland.[6]

Another mention by pharaoh Thutmose III of Egypt in the 33rd year of his reign</p>
</div>
{% endblock %}
