{% extends "futurus/base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/search.js' %}"></script>
<div class="middle">
<h1>Your Organizations</h1></br>
</br>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Organization</th>
            <th>Position</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in memberships %}

        <tr>
            <td><a class="btn btn-primary btn-xs btn-margin-xs" href="{% if membership.organization.slug %}{% url 'organization' membership.organization.slug %}{% endif %}">{{ membership.organization.name }}</a></td>
            <td>{% if membership.position %}{{membership.position}}{% else %}Unknown{% endif %}</td>
            <td>{% if membership.description %}{{membership.description}}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<a href="{% url 'create_organization' %}" class="btn btn-success">Add Your Organization</a>

</div>
{% endblock %}
