{% extends "futurus/base.html" %}
{% block content %}
{% load staticfiles %}
<h1>{{ organization.name }}</h1>

</br>
{% if organization.logo %}<img src="{{ organization.logo.url }}" class="img-responsive" alt="Responsive image" style ="max-height: 100px;">{% endif %}

</br>
{% if organization.projects.all %}
<h4>Projects</h4>
{% for project in organization.projects.all %}
<a class = "btn btn-primary btn-sx btn-margin-xs" href={% url 'project' project.slug %} roll="button">{{ project.title }}</a>
{% endfor %}
{% endif %}

</br>
{% if organization.notable_members.all %}
<h4>Notable Members</h4>
{% for person in organization.notable_members.all %}<a class="btn btn-primary btn-xs btn-margin-xs" href="#" role="button">{{ person.name }}</a>{% endfor %}
{% endif %}

</br>
{% if organization.partners.all %}
<h4>Project Partners</h4>
{% for partner in organization.partners.all %}
<a class = "btn btn-primary btn-sx btn-margin-xs" href={% url 'organization' partner.slug %} roll="button">{{ partner.name }}</a>
{% endfor %}
{% endif %}

</br>
{% if organization.organization_created %}
<h4>Organization Founded: {{ organization.organization_created }}</h4>
{% endif %}

{% endblock %}
