{% extends "futurus/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="middle">
<div class="panel panel-default panel-primary org-panel">

<div class="panel-heading">
{% if organization.logo %}<img src="{{ organization.logo.url }}" class="img-responsive org-logo" alt="Responsive image" style ="max-height: 100px;">{% endif %}
<h1 class="org-title"> {{ organization.name }}{% if organization.abbreviation %} ({{organization.abbreviation}}){% endif %}</h1>
{% if user.is_authenticated and user in organization.owners.all %}</br><a style="color: white;" href="{% url 'edit_organization' organization.slug %}">Edit Organization</a>{% endif %}
</div>

<div class="panel-body">
</br>
{% if organization.twitter %}
<a href="{{organization.twitter.url}}" class="social-wrapper">
<div href="" class="social-img-wrapper"><img src="{% static 'img/Twitter_logo_blue.png' %}" class="img-responsive social-img"></div>
<div class="social-text">@{{organization.twitter}}</div>
</a><!-- end of social-wrapper -->
{% endif %}

{% if organization.facebook %}
<a href="https://facebook.com/{{organization.facebook}}" class="social-wrapper">
<div href="" class="social-img-wrapper"><img src="{% static 'img/facebook.png' %}" class="img-responsive social-img"></div>
<div class="social-text">@{{organization.facebook}}</div>
</a><!-- end of social-wrapper -->
{% endif %}

{% if organization.linkedin %}
<a href="{{organization.linkedin}}" class="social-wrapper">
<div href="" class="social-img-wrapper"><img src="{% static 'img/linkedin.png' %}" class="img-responsive social-img"></div>
<div class="social-text">{{organization.linkedin}}</div>
</a><!-- end of social-wrapper -->
{% endif %}


</br>
{% if organization.projects.all %}
<h4>Projects</h4>
{% for project in organization.projects.all %}
<a class = "btn btn-primary btn-sx btn-margin-xs" href={% url 'project' project.slug %} roll="button">{{ project.title }}</a>
{% endfor %}
{% endif %}

</br>
{% if organization.notable_members.all %}
<h4>Notable Members</h4>
{% for person in organization.notable_members.all %}<a class="btn btn-primary btn-xs btn-margin-xs" href="#" role="button">{{ person.name }}</a>{% endfor %}
{% endif %}

</br>
{% if organization.partners.all %}
<h4>Project Partners</h4>
{% for partner in organization.partners.all %}
<a class = "btn btn-primary btn-sx btn-margin-xs" href={% url 'organization' partner.slug %} roll="button">{{ partner.name }}</a>
{% endfor %}
{% endif %}

</br>
{% if organization.organization_created %}
<h4>Organization Founded: {{ organization.organization_created }}</h4>
{% endif %}

{% if organization.links.all %}
</br>
<h4>Related Websites</h4>
<ul>
{% for link in organization.links.all %}
<li><a href="{{ link.url }}">{{link.title}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% if organization.mission %}
</br>
<h4>Mission Statement</h4>
<div class="well" style="-webkit-columns: 300px; -moz-columns: 300px; columns: 300px;">{{organization.mission}}</div>
{% endif %}

</div><!-- end .panel-body -->
</div><!-- end .panel -->
</div><!-- end .middle -->
{% endblock %}
