{% extends "futurus/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="middle">
<div class="panel panel-default panel-primary org-panel">
<div class="panel-heading">
    {% if language == "en" %}<h1>{{ person.name }}</h1>
    {% elif language == "ar" %}<h1 class="ar">{{ person.name_ar }}</h1>{% endif %}
    {% if user.is_authenticated and user == person.user %}
    {% if language == "en" %}<a style="color: white;" href="{% url 'edit_person' person.slug %}">Edit Profile</a>
    {% elif language == "ar" %}<a style="color: white;" href="{% url 'edit_person' person.slug %}" class="ar">Edit Profile(inarabic)</a>
    {% endif %}
{% endif %}
</div>
<div class="panel-body">
</br>

{% if person.pic %}<img src="{{ person.pic.url }}" class="img-responsive" alt="Responsive image" style ="max-height: 100px;">{% endif %}



</br>
{% if person.twitter %}
<a href="{{person.twitter.url}}" class="social-wrapper">
<div href="" class="social-img-wrapper"><img src="{% static 'img/Twitter_logo_blue.png' %}" class="img-responsive social-img"></div>
<div class="social-text">@{{person.twitter.handle}}</div>
</a><!-- end of social-wrapper -->
{% endif %}

{% if person.facebook %}
<a href="{{person.facebook.url}}" class="social-wrapper">
<div href="" class="social-img-wrapper"><img src="{% static 'img/facebook.png' %}" class="img-responsive social-img"></div>
<div class="social-text">{% if person.facebook.title %}{{person.facebook.title}}{% endif %}</div>
</a><!-- end of social-wrapper -->
{% endif %}

{% if person.linkedin %}
<a href="{{person.linkedin}}" class="social-wrapper">
<div href="" class="social-img-wrapper"><img src="{% static 'img/linkedin.png' %}" class="img-responsive social-img"></div>
<div class="social-text">{{person.linkedin}}</div>
</a><!-- end of social-wrapper -->
{% endif %}

{% if language == "en" %}
{% if person.hometown %}
</br>
<h4>Hometown</h4>
<div class="well">{{person.hometown}}</div>
{% endif %}
{% elif language == "ar" %}
{% if person.hometown_ar %}
</br>
<h4 class="ar">&#1605;&#1583;&#1610;&#1606;&#1578;&#1603;</h4>
<div class="well ar">{{person.hometown_ar}}</div>
{% endif %}
{% endif %}


{% if person.story %}
</br>
<h4>Background</h4>
<div class="well" style="-webkit-columns: 300px; -moz-columns: 300px; columns: 300px;">{{person.story}}</div>
{% endif %}

{% if person.wiki_title %}
</br>
<h4>Wikipedia Article</h4>
<iframe src="http://en.wikipedia.org/w/index.php?title={{person.wiki_title}}&printable=yes" style="width: 100%;"></iframe>
{% endif %}

{% if person.organization_set.all %}
</br>
<h4>Member of the Following Organizations:</h4>
<div class="well">{% for organization in person.organization_set.all %}<a class="btn btn-primary btn-xs btn-margin-xs" href={% url 'organization' organization.slug %} role="button">{{ organization.name }}</a>{% endfor %}</div>
{% endif %}

</div><!-- end .panel-body -->
</div><!-- end .panel -->
</div><!-- end .middle -->
{% endblock %}
